.App {
  text-align: center;
}
.Apps {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 15vh;
  background: rgb(25, 26, 25);
  color: rgb(208, 223, 10);
}

.nav-links {
  width: 120%;
  display: flex;
  justify-content: space-around;
  align-items: left;
  list-style: none;
}
